{% extends "base.html" %}

{% block title %}
{{app.title}} - Compliance Apps
{% endblock %}

{% block head %}
<style>
#app-metadata {
  padding: 1em;
  border: 0px solid #999;
  background-color: #FAFAFA;
  border-radius: 15px;
  font-size: 0.9em;
  text-align: left;
}
#app-metadata a {
  color: black;
  text-decoration: underline;
}
.meta-key {
  color: #888;
}
.meta-heading {
  margin-top: 20px;
  color: #888;
  border-bottom: 0.5px solid #888;
  margin-bottom: 6px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<li class="active"><a href="/store">Compliance Apps</a></li>
<li class="active">{{app.title|truncatewords:6}}</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    <h1><small>{{app.vendor}}</small><br/>{{app.title}}</h1>

    {% if error %}
      <p class="text-danger">{{error}}</p>
    {% endif %}

    <div class="body">
      {{app.description.long|safe}}
    </div>
  </div>
  <div class="col-sm-3 col-sm-pull-9">
    <div style="padding-right: 1em">
      {% if app.icon %}
        <img src="{{app.icon}}" style="width: 100%;" alt= "App Icon">
      {% endif %}

      <form method="post" style="margin: 1em; text-align: center;">
        {% csrf_token %}

        {# If the user is a member of more than one organization that can start this app, the user much choose which organization context to start this app in. #}
        {% if app.organizations|length == 1 %}
          {% with app.organizations|first as first_org %}
            <input type="hidden" name="organization" value="{{first_org.slug}}">
          {% endwith %}
        {% else %}
          <div style="margin-bottom: 1em">
            <label for="add-to-org" style="font-weight: normal; margin: 0; font-size: 90%;">Add to:</label>
            <select id="add-to-org" name="organization" class="form-control">
              {% for org in app.organizations %}
                <option value="{{org.slug}}">{{org.name}}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
       
        <button id="start-project" type="submit" class="btn btn-success" style="width: 100%;">
          {% if not request.GET.q %}
          Add to project
          {% else %}
          Add app
          {% endif %}
          ►
        </button>
      </form>

      <div id="app-metadata">
        <div class="meta-heading"><strong>Information</strong></div>
        <div><span class="meta-key">Provider</span>: <a href="{{app.vendor_url}}">{{app.vendor}}</a></div>
        <div><span class="meta-key">Status</span>: {{app.status}}</div>
        <div><span class="meta-key">Version</span>: {{app.version}}</div>
        <div><span class="meta-key">Source</span>: <a href="{{app.source_url}}">link</a></div>
        {% if app.authz == "none" %}
          <div><span class="meta-key">Startable</span>: Yes
        {% else %}
          <div><span class="meta-key">Startable</span>: Requires Admin
        {% endif %}

        <div class="meta-heading"><strong>Recommended for</strong></div>
        {% for item in app.recommended_for %}
        <div><span class="meta-key">{{item.key_short}}</span>: {{item.value}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
