<style>
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
*******************************/


/* remove modal shadow */
div.modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgb(220, 220, 220);
}

.modal.left .modal-dialog,
  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 440px;
    height: calc(100% - 53px);
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .modal.left .modal-body,
  .modal.right .modal-body {
    padding: 15px 15px 0px;
  }

/*Left*/
  .modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.2s linear, left 0.2s ease-out;
       -moz-transition: opacity 0.2s linear, left 0.2s ease-out;
         -o-transition: opacity 0.2s linear, left 0.2s ease-out;
            transition: opacity 0.2s linear, left 0.2s ease-out;
  }

  .modal.left.fade.in .modal-dialog{
    left: 0;
  }

/*Right*/
  .modal.right.fade .modal-dialog {
    right: -320px;
    top:53px;
    -webkit-transition: opacity 0.0s linear, right 0.0s ease-out;
       -moz-transition: opacity 0.0s linear, right 0.0s ease-out;
         -o-transition: opacity 0.0s linear, right 0.0s ease-out;
            transition: opacity 0.0s linear, right 0.0s ease-out;
  }

  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
  }

/* ---- OTHER ----- */

.form-control, label {
  font-size: .9em;
}

label {
  text-align: right;
}
</style>

<div id="module_authoring_tool" class="modal right fade" tabindex="-1" role="dialog" aria-labelledby="module_authoring_tool_title" aria-hidden="true" data-keyboard="false" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="module_authoring_tool_title">
          Edit Module
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false;">
          <div class="form-group">
            <label for="authoring_tool_catalog_metadata" class="col-sm-2 control-label">App</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="authoring_tool_catalog_metadata" name="catalog_metadata">{ }</textarea>
              <span class="help-block">Compliance app catalog information in YAML.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="authoring_tool_mspec" class="col-sm-2 control-label">Module</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="authoring_tool_mspec" name="spec">{ }</textarea>
              <span class="help-block">Module definition in YAML.</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="authoring_tool_delete_question()">Delete Question</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" onclick="authoring_tool_save_module()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<div id="question_authoring_tool" class="modal right fade" tabindex="-1" role="dialog" aria-labelledby="question_authoring_tool_title" aria-hidden="true" data-keyboard="false" data-backdrop="false" style="right: -55%;">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form class="form-horizontal" onsubmit="return false;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="question_authoring_tool_title">
          Edit Question
        </h4>
          <div class="form-group">
            <label for="authoring_tool_qid" class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="authoring_tool_qid" pattern="[a-zA-Z_][a-zA-Z0-9_]*" name="newid">
              <span class="help-block">Identifier for question used in templates and the API.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="authoring_tool_qtitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="authoring_tool_qtitle" name="title">
              <span class="help-block">Title for question shown in progress list and elsewhere.</span>
            </div>
          </div>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="authoring_tool_qprompt" class="col-sm-2 control-label">Prompt</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="authoring_tool_qprompt" name="prompt"></textarea>
              <span class="help-block">First line will be shown in a larger font.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="authoring_tool_type" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
              <select class="form-control" id="authoring_tool_type" onchange="_val = $(this).val(); $('#authoring_tool_q_type_options>div, #authoring_tool_q_type_options .toggled').each(function() { $(this)[$(this).hasClass('authoring_q_type_' + _val) ? 'fadeIn' : 'hide']() });" name="type">
                <optgroup label="Text Questions">
                  <option value="text">Text (Single Line)</option>
                  <option value="password">Password</option>
                  <option value="email-address">Email Address</option>
                  <option value="url">Web Address (URL)</option>
                  <option value="longtext">Paragraph (Rich Text/Markdown)</option>
                </optgroup>
                <optgroup label="Choice Questions">
                  <option value="date">Date</option>
                  <option value="yesno">Yes/No</option>
                  <option value="choice">Single Choice</option>
                  <option value="multiple-choice">Multiple Choice</option>
                </optgroup>
                <optgroup label="Number Questions">
                  <option value="integer">Integer</option>
                  <option value="real">Any Number</option>
                </optgroup>
                <optgroup label="Media Questions">
                  <option value="interstitial">Interstitial</option>
                  <option value="file">File Upload</option>
                </optgroup>
                <optgroup label="Sub-Task Questions" class="available-for-projects">
                  <option value="module">Task (Single Task)</option>
                  <option value="module-set">Multiple Task</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div id="authoring_tool_q_type_options">
          <div class="form-group authoring_q_type_text authoring_q_type_email-address authoring_q_type_url authoring_q_type_integer authoring_q_type_real">
            <label for="authoring_tool_placeholder" class="col-sm-2 control-label" style="font-size: 0.8em;">Placeholder</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="authoring_tool_placeholder" name="placeholder">
              <span class="help-block">Template text displayed as the field&rsquo;s placeholder text when the field is empty. Do not set both a placeholder and a default.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_text authoring_q_type_email-address authoring_q_type_url authoring_q_type_longtext">
            <label for="authoring_tool_default" class="col-sm-2 control-label">Default</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="authoring_tool_default" name="default">
              <span class="help-block">Template text provided as a default value. Do not set both a placeholder and a default.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_choice authoring_q_type_multiple-choice">
            <label for="authoring_tool_qchoices" class="col-sm-2 control-label">Choices</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="authoring_tool_qchoices" name="choices"></textarea>
              <span class="help-block">Put each choice on a separate line and provide as KEY|LABEL|HELP.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_multiple-choice authoring_q_type_integer authoring_q_type_real">
            <label for="authoring_tool_qmin" class="col-sm-2 control-label">Minimum</label>
            <div class="col-sm-10">
              <input type="number" pattern="[0-9]*" min="0" class="form-control" id="authoring_tool_qmin" name="min">
              <span class="help-block toggled authoring_q_type_multiple-choice">The minimum number of choices the user must select. Leave blank if there is no minimum.</span>
              <span class="help-block toggled authoring_q_type_integer authoring_q_type_real">The minimum number allowed. Enter zero to prevent the user from entering negative numbers. Leave blank if there is no minimum.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_multiple-choice authoring_q_type_integer authoring_q_type_real">
            <label for="authoring_tool_qmax" class="col-sm-2 control-label">Maximum</label>
            <div class="col-sm-10">
              <input type="number" pattern="[0-9]*" min="0" class="form-control" id="authoring_tool_qmax" name="max">
              <span class="help-block toggled authoring_q_type_multiple-choice">The maximum number of choices the user may select. Leave blank if there is no maximum.</span>
              <span class="help-block toggled authoring_q_type_integer authoring_q_type_real">The maximum number allowed. Leave blank if there is no maximum.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_file">
            <label for="authoring_tool_filetype" class="col-sm-2 control-label">File Type</label>
            <div class="col-sm-10">
              <select class="form-control" id="authoring_tool_filetype" name="file-type">
                <option value="">Any File Type</option>
                <option value="image">Image</option>
              </select>
              <span class="help-block">Restrict file uploads to files of the given type.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_text authoring_q_type_password authoring_q_type_email-address authoring_q_type_url authoring_q_type_longtext authoring_q_type_date authoring_q_type_integer authoring_q_type_real authoring_q_type_file">
            <label for="authoring_tool_qhelp" class="col-sm-2 control-label">Help</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="authoring_tool_qhelp" name="help">
              <span class="help-block">Template text shown as small-font help text below the question&rsquo;s input field.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_module authoring_q_type_module-set">
            <label for="authoring_tool_qmoduletype" class="col-sm-2 control-label">Module</label>
            <div class="col-sm-10">
              <select class="form-control" id="authoring_tool_qmoduletype" name="module-id">
              </select>
              <span class="help-block">The module that can be used to answer this question.</span>
            </div>
          </div>
          <div class="form-group authoring_q_type_module authoring_q_type_module-set">
            <label for="authoring_tool_qmoduleprotocol" class="col-sm-2 control-label">Protocol ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="authoring_tool_qmoduleprotocol" name="protocol">
              <span class="help-block">Enter a protocol ID to allow the user to choose any compliance app that satisfies this protocol. List multiple IDs specified by
              spaces to require that the app satisfies all listed protocols.</span>
            </div>
          </div>
          </div>
          <div class="form-group impute-condtions-holder">
          	<label class="col-sm-2 control-label">Impute</label>
            <div class="col-sm-10">
              <div id="authoring_tool_impute_conditions">
              </div>
              <button class="" title="Add Impute Condition" onclick="authoring_tool_add_impute_condition_fields()">Add impute condition</button>
              <span class="help-block">Impute conditions are run in order. The first condition to match determines the answer for this question. Each condition is a Jinja2 expression. If the condition evaluates to true, the condition matches.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="authoring_tool_qspec" class="col-sm-2 control-label">Optional</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="authoring_tool_qspec" name="spec">{ }</textarea>
              <span class="help-block">Optional question specification YAML data not defined above.</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn" onclick="authoring_tool_delete_question()">Delete Question</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" onclick="authoring_tool_save_question()">Save Changes</button>
      </div>
    </div>
    </form>
  </div>
</div>
