{% extends base_template %}
{% load static %}

{% block title %}
Love Assessments
{% endblock %}

{% block head %}
<style>
	.body-text {
		max-width: 70em;
	}
</style>
{% endblock %}

{% block body %}
<div class="body-text" style="width: 650px;">
	<h1>Fall in love with assessments</h1>

	<p>You are assessing right now.</p>

	<p>As your eyes move across the page, you are assessing the squiggles into letters, the letters into words, the words into sentences, and the sentences into meaning.</p>

	<p>You're reading this page as part of making an assessment about GovReady-Q and if it will help your organization.</p>

	<p>Making assessments is simply what we do as humans. We are amazingly good at it. We look. We listen. We evaluate. We observe the world for what is known, what needs investigating, and what we'd like to change.</p>

	<p>Whenever we make a plan alone or with others, we make assessments regarding the situation and what we know and don't know about the future.</p>

	<p>We make choices about ourselves–what we think, what we say, what we do–because we know others are assessing us just as we are assessing them.</p>

	<p>Have you ever hear the term "deliberate practice?" It's the idea that you get better at something through practice, observation of what you did, and feedback on how you could perform better. Deliberate practice is a powerful technique for improvement. At the heart of deliberate practice is ongoing assessment.</p>

	<p>So stop worrying about assessments. Fall in love with what you are already good at. Use a tool like GovReady-Q that gets you back to doing what comes naturally.</p>



</div>
{% endblock %}

