{% load static %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #EEE; font-weight: bold;">
          <img alt="GovReady Q logo" src="{% static "img/brand/navbar-logo.png" %}"
          width="110px;" style="margin: -2px 20px;">
      </a>
    </div>

    <div>
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav navbar-left" style="color: white;">
        <li><a href="/projects" id="menu-projects">Projects</a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><a href="/groups" id="menu-groups">Groups</a></li>
      </ul>
      {% endif %}
    </div>

    <div id="navbar-collapse-target" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        {% if user.is_staff %}
          <li><a href="{% url "guidedmodules_analytics" %}"><span class="glyphicon glyphicon-dashboard" aria-label="Analytics" tooltip="Analytics"></span></a></li>
        {% endif %}
        {# if user.can_see_any_org_settings or user.is_staff #}
        {% if user.is_staff %}
        <li><a href="/settings" id="menu-settings"><span class="glyphicon glyphicon-cog" aria-label="Settings" tooltip="Settings"></span></a></li>
        {% endif %}

        {% include "navbar-notifications.html" %}

        {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-menu-dropdown">
              {% with url=request.user.get_profile_picture_absolute_url %}
                {% if url %}
                  <img src="{{url}}" height="30" alt="Profile Picture"
                    style="margin: -5px 5px;">
                {% endif %}
              {% endwith %}
              {{request.user}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{user.user_settings_task_create_if_doesnt_exist.get_absolute_url}}" id="user-menu-account-settings">Account Settings</a></li>
              <li><a href="/api-keys">Your API Keys</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/accounts/logout/">Log Out</a></li>
            </ul>
          </li>

        {% elif LOGIN_ENABLED %}
          <li><a href="{% url "account_login" %}">Log In</a></li>
        {% endif %}
      </ul>          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>