{% extends "project-base.html" %}

{% block title %}
API: {{project.title}}
{% endblock %}

{% block head %}
{{block.super}}
<style>
h2 { margin-top: 1.5em; }
</style>
{% endblock %}

{% block title_suffix_text %}
&mdash; Upgrade App
{% endblock %}

{% block body_content %}
  <h2><small>{{app.vendor}}</small><br/>{{app.title}}</h2>

  <div class="body">
    {{app.description.short|safe}}
  </div>

  {% if error %}
    <p class="text-danger">{{error}}</p>
  {% elif can_upgrade_app %}
    <p><em>Upgrading this app will update the questions, document templates, and business logic stored in the app to the latest version published by the app&rsquo;s vendor. Your data will not be changed.</em></p>

    <button id="do-upgrade" class="btn btn-primary" onclick="upgrade_app({{project.root_task.module.app.id}});">
      <em class="glyphicon glyphicon-download"></em>
      Upgrade App
    </button>
    <button class="btn btn-default" onclick="window.location = '{{project.get_absolute_url|escapejs}}';">
      Cancel
    </button>
  {% else %}
    <p><em>Only project administrators can upgrade this app.</em></p>
  {% endif %}


  <hr>

  <div class="body">
    {{app.description.long|safe}}
  </div>
{% endblock %}

{% block scripts %}
<script>
var upgrade_app_option_force = false; // can only be set to true in dev console
var upgrade_app_option_confirm = true; // is set to true in dev tools for headless scripting
function upgrade_app(app_id) {
  if (upgrade_app_option_confirm
     && !confirm("Are you sure you want to upgrade this app?"))
    return;
  ajax_with_indicator({
      url: "/tasks/_upgrade-app",
      method: "POST",
      data: {
        app: app_id,
        force: upgrade_app_option_force ? "true" : "false"
      },
      keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
      success: function(res) {
        window.location = "{{project.get_absolute_url|escapejs}}";
      }
  })
}
</script>
{% endblock %}