{% extends "base.html" %}

{% load q %}

{% block head %}
<style>
{% include "focus-area-styles.css" %}

#project-icon {
  float: left;
  margin: 0 1.5em 1em 0;
  {% if title == project.root_task.module.spec.title %}
   /* if there's no subhead, match icon size to font size */
    width: 50px;
    height: 50px;
  {% else %}
    width: 80px;
    height: 80px;
  {% endif %}
}

h1 {
  margin: 0;
  font-size: 32px;
}

div.subtitle {
  margin: .2em 0 .75em 0;
  font-weight: bold;
}

.breadcrumb {
  font-size: .8em;
}
</style>
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="/">
      <span class="glyphicon glyphicon-home" style="margin-right: .25em"></span>
    </a>
  </li>
  <li>
    <a href="{{project.organization.get_absolute_url}}">
      {{project.organization.name}}
    </a>
  </li>
  {% for parent_project in project.get_parent_projects %}
    {% if not forloop.counter == 1 %} &gt; {% endif %}
    <li>
    <a href="{{parent_project.get_absolute_url}}" class="parent-project" style="margin-left: .25em">
      {{parent_project.title}}
    </a>
    </li>
  {% endfor %}
    <li>
    <a href="{{project.get_absolute_url}}">
      {{project.title}}
    </a>
    </li>
{% endblock %}

{% block body %}
{{block.super}}
<div class="row">
  {% if is_project_page %}
  <div class="col-md-push-10 col-md-2">
    <div id="action-buttons" style="margin-bottom: 1em">
      {% block action_buttons %}
      {% endblock %}
    </div>
  </div>
  {% endif %}

  <div class="{% if is_project_page %}col-md-pull-2{% endif %} col-md-10">
    <div id="focus-area-wrapper">
      {% block above_title %}
      {% endblock %}

      {% if project.root_task.get_app_icon_url %}
        <img id="project-icon" src="{{project.root_task.get_app_icon_url}}" alt="Project Icon">
      {% endif %}

      {% with project.title as title %}
      <h1 id="project-title">
        {{project.organization.name}} / 
        {{title}}
        {% block title_suffix_text %}
        {% endblock %}
      </h1>

      {% if title != project.root_task.module.spec.title %}
      <div class="subtitle">
        {{project.root_task.module.spec.title}}
      </div>
      {% endif %}
      {% endwith %}

      <div class="clearfix"></div>

      {% if project.lifecycle_stage %}
      {% with nstages=project.lifecycle_stage.0.stages|length %}
      <div class="progress" style="cursor: default;">
        {% for stage in project.lifecycle_stage.0.stages %}
          <div class="progress-bar progress-bar-success" style="{% if stage.complete %}width: {{100|div:nstages|floatformat:0|add:-1}}%;{% else %}display: none;{% endif %}">
            {{stage.label}}
          </div>
        {% endfor %}
      </div>
      {% endwith %}
      {% endif %}
      
      <div style="margin-top: 1em">
      {% block body_content %}
      {% endblock %}
      </div>
    </div> <!-- /focus-area-wrapper -->
  </div> <!-- /col -->
</div> <!-- /row -->

{% block modals %}
{% endblock %}

{% endblock %}
