{% if users|length > 0 %}
<table class="table" style="width: auto;">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Name</th>
      <th/>
      <th/>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td>
        {{user.username}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
        {% if user != request.user or listid != "org-admins" %} {# cant remove your own org admin priv #}
        <span class="glyphicon glyphicon-trash" style="cursor: pointer; color: #FAA;" title="remove user" onclick="org_user_list_remove('{{listid|escapejs}}', {{user.id}}, '{{user.name_and_email|escapejs}}');"></span>
        {% endif %}
      </td>
      <td>
      {% if can_visit_user_in_django_admin %}
        <a href="{{django_admin_url}}/siteapp/user/{{user.id}}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

<p>
  <input id="{{listid}}-select-user" type="text" class="form-control" style="width: 20em; display: inline-block; height: 30px" placeholder="name, username, or email">
  <button id="{{listid}}-select-user-submit" class="btn btn-primary btn-sm" disabled onclick="org_user_list_add(this)"><span class="glyphicon glyphicon-plus"></span> Add User to {{listname}}</button>
</p>
