{% for q in context %}
{% if not q.imputed %}
  <li id="link-to-question-{{q.key}}" class="{% if q.is_this_question %}this{% else %}other{% endif %}">
    {% if not q.is_this_question %}<a href="{{q.link}}?previous={{previous|urlencode}}">{% endif %}

    {% if q.is_this_question  %}<span class="glyphicon glyphicon-play-circle"> </span>
    {% elif q.skipped %}<span class="glyphicon glyphicon-edit"> </span>
    {% elif q.answered %}<span class="glyphicon glyphicon-check"> </span>
    {% else %}<span class="glyphicon glyphicon-unchecked"> </span>{% endif %}

    {{q.title}}

    {% if not q.is_this_question and q.can_link %}</a>{% endif %}
  </li>
{% endif %}
{% endfor %}
